#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install

override_dh_clean:
	dh_clean
	rm -rf GPlayCli.egg-info/

COMMIT_TO_DOWNLOAD = 0.2.10
newtarball = new$(COMMIT_TO_DOWNLOAD).tar.gz
get-orig-source:
	wget --continue -O $(newtarball) \
		https://github.com/matlink/gplaycli/archive/$(COMMIT_TO_DOWNLOAD).tar.gz
	mk-origtargz \
		--rename \
		--repack \
		--exclude-file debian \
		--exclude-file ext_libs/androguard \
		$(newtarball)
